
.footer{
  background-color: #273d50;
  color: white;
  position: absolute;
  padding-top: 30px;
  height: 100px;
  width: 1790px;
  top: 2100px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; 
}

.header{
  background: linear-gradient(360deg,#64c9c4, #f8e9a7);
  height: 1115px;
}
.block_powtoon{
  background-color: white;
  width: 200px;
  height: 100px;
  border-radius: 10%;
  transform: rotate(-10deg);
  text-align: center;
}
.text_powtoon{
  color: Black;
  font-family: monospace;
  font-size: 35px;
  padding-top: 50px;
}
.block_left{
  margin-left: 175px;
}
.text_new_free{
  color: #44a09b;
  margin-top: 300px;
  font-family: monospace;
}
.text_the_secret{
  font-size: 50px;
  font-family: monospace;
}
.text_tuesday{
  margin-left: 175px;
  color: #ff8141;
  font-size: 20px;
  font-family: monospace;
}
.button{
  margin-left: 175px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color: white; 
  background-color: #ff8141;
  height: 70px;
  width: 500px;
  /*border-radius: 30%;*/
  border-radius: 20%;
}
.block_text_button{
  /*margin-left: 175px;*/
  padding-top: 25px;
  border-radius: 20%;
  height: 213px;
  width: 827px;
  margin: auto 0;
  background-color: white;
  right: 200px;
}
.block_right{
  margin-top: -920px;
  height: 915px;
  width: 40%;
  float: right;

}
.text_in_this_new{
  color: #3a4a62;
  font-family: monospace;
  font-size: 35px;
  margin-left: 175px;
}
.block_list{
  margin-left: 175px;
  font-family: monospace;
  font-size: 20px;
}
.block_list2{
  font-size: 20px;
  font-family: monospace;
  margin-left: 175px;
}
.block_left2{
  width: 60%;
  height: 915px;
  background: linear-gradient(45deg,#f7d5b8,#fac9ae);
}
.text_7ways{
  text-align: center;
  padding-top: 250px;
  color:#44a09b;
  font-size: 100px;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
}
.text_grab_attention{
  color: #ffffc1;
  font-size: 100px;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}
.circle{
  background: black;
  width: 177px;
  height: 177px;
  border-radius: 50%;
  opacity: 0.5;
  margin-left: 450px;
  margin-top: -500px;
  
}

